<<<<<<< HEAD
body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: rgba(47, 55, 76, 0.9);
}

.title {
    color: #2F374C;
    margin: 1em;
    text-align: center;
=======
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Merriweather');
body,
html,
li,
ul,
ol,
h1,
h3,
h6,
a {
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
}

h3,
h6,
p {
    font-family: 'Merriweather', serif;
}

button:focus,
input:focus {
    outline: 0;
    color: white;
}

body {
    text-align: center;
    font-size: 10px;
    background-color: rgb(30, 30, 30);
    color: rgb(0, 0, 0);
}



.container::-webkit-scrollbar,
body::-webkit-scrollbar,
.sidenav::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgb(50, 50, 50)
}

.container > li::-webkit-scrollbar {
    width: 1em;
}

.container::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.container > li::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid black;
}

.container > li::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 0.4);
    outline: 1px solid black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(150, 150, 150);
    outline: 1px solid rgb(150, 150, 150);
    border-image: 0.5em;
}

header {
    height: 5em;
    line-height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: rgba(50, 50, 50, 0.94)
}

h1 {
    text-shadow: 0 0 0.2em black;
    font-size: 2em;
}

header h1 {
    position: fixed;
    right: 0.3em;
    letter-spacing: 0.1em;
    font-size: 2em;
    color: #c55c58;
}

.title {
    color: rgb(220, 220, 220);
    margin: 1em;
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
}

.lesserTitle {
    margin: 1em;
<<<<<<< HEAD
    color: #2F374C;
=======
    color: rgb(160, 160, 160);
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    font-size: 2em;
    font-weight: 800;
    text-align: left;
}

#filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filter input {
    border: none;
    padding: 0.2em;
    font-size: 2em;
<<<<<<< HEAD
    color: white;
    text-align: center;
    background-color: rgba(47, 55, 76, 0.9);
=======
    text-align: center;
    background-color: rgba(200, 200, 200, 0.8);
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    flex-basis: 80%;
    transition: 0.5s;
}

#filter input::-webkit-input-placeholder {
    color: white;
}

<<<<<<< HEAD
=======
.adminLogin {
    color: gray;
    opacity: 0.6;
}

.adminLogin input {
    text-align: center;
    opacity: 0.6;
}

.adminLogin button {
    opacity: 0.6;
}

>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
#filter input:hover,
#filter input:focus,
.slide button:hover,
.slide button:focus {
<<<<<<< HEAD
    background-color: rgba(47, 55, 76, 0.7)
=======
    background-color: rgba(255, 255, 255, 0.3);
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
}

#filter button,
.slide button {
    border: none;
    cursor: pointer;
    transition: 0.5s;
<<<<<<< HEAD
    background-color: #c55c58;
=======
    background-color:  #c55c58;
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    font-weight: 800;
    color: white;
    text-shadow: 0 0 0.1em black;
}

#filter * {
    margin: 0 0.2em 0.5em 0.2em;
}

#filter button:hover {
    opacity: 0.7;
}

#filter button:nth-of-type(1) {
    flex-basis: 40%;
}

#filter button:nth-of-type(2) {
    flex-basis: 40%;
}

#container,
#authorOneContainer,
#authorTwoContainer,
#authorThreeContainer,
#authorFourContainer {
    display: flex;
}

.container {
    height: 0;
<<<<<<< HEAD
    background-color: rgba(47, 55, 76, 1);
=======
    background-color: rgba(50, 50, 50, 0.6);
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    overflow-x: scroll;
    transition: 2s;
}

.containerSize {
    height: 40em;
}

#container > li,
#authorOneContainer > li,
#authorTwoContainer > li,
#authorThreeContainer > li,
#authorFourContainer > li {
    min-width: 30em;
    margin: 0.5%;
    padding: 0.5%;
<<<<<<< HEAD
    background-color: rgba(230, 230, 230, 0.5);
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    overflow-y: scroll;
    text-align: center;
=======
    background-color: rgba(155, 155, 155, 0.7);
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    overflow-y: scroll;
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
}

#container > li > h3,
#authorOneContainer > li > h3,
#authorTwoContainer > li > h3,
#authorThreeContainer > li > h3,
#authorFourContainer > li > h3 {
    font-size: 2.4em;
}

#container > li > h6,
#authorOneContainer > li > h6,
#authorTwoContainer > li > h6,
#authorThreeContainer > li > h6,
#authorFourContainer > li > h6 {
    font-size: 2em;
    font-weight: 200;
}

#container > li > a,
#authorOneContainer > li > a,
#authorTwoContainer > li > a,
#authorThreeContainer > li > a,
<<<<<<< HEAD
#authorFourContainer > li > a {
=======
#authorFourContainer > li > a{
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    display: block;
    font-size: 2.3em;
    width: 50%;
    margin: 0 auto;
    color: white;
    font-weight: 800;
    cursor: pointer;
<<<<<<< HEAD
    background-color: #c55c58;
=======
    background-color: rgb(80, 30, 30);
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
}

.orderBooksButton {
    visibility: hidden;
    position: fixed;
    animation: fadein 2s;
    right: 0.7em;
    bottom: 1em;
    font-size: 2.4em;
    padding: 0.5em;
    z-index: 15;
    color: white;
    font-weight: 800;
    cursor: pointer;
<<<<<<< HEAD
    background-color: #c55c58;
    border: 0.1em solid rgb(180, 180, 180);
}

.orderBooksButton a {
    color: white;
}

=======
    background-color: rgb(80, 30, 30);
    border: 0.1em solid rgb(180, 180, 180);
}

>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
.orderBooksButtonDisplay {
    visibility: visible;
}

<<<<<<< HEAD
=======


>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
#container > li > img,
#authorOneContainer > li > img,
#authorTwoContainer > li > img,
#authorThreeContainer > li > img,
#authorFourContainer > li > img {
<<<<<<< HEAD
    border: 0.5em solid rgba(0, 0, 0, 0.3);
=======
    border: 0.5em solid rgba(255, 255, 255, 1);
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
}

#container > li.notAvailable > a,
#authorOneContainer > li.notAvailable > a,
#authorTwoContainer > li.notAvailable > a,
#authorThreeContainer > li.notAvailable > a,
#authorFourContainer > li.notAvailable > a {
    background: none;
<<<<<<< HEAD
    color: rgb(50, 50, 50);
=======
    color: darkgray;
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    pointer-events: none;
}

#container > li > p.viewDescriptionContent,
#authorOneContainer > li > p.viewDescriptionContent,
#authorTwoContainer > li > p.viewDescriptionContent,
#authorThreeContainer > li > p.viewDescriptionContent,
#authorFourContainer > li > p.viewDescriptionContent,
#container > li > p.viewDescriptionContentUser,
#authorOneContainer > li > p.viewDescriptionContentUser,
#authorTwoContainer > li > p.viewDescriptionContentUser,
#authorThreeContainer > li > p.viewDescriptionContentUser,
#authorFourContainer > li > p.viewDescriptionContentUser {
    display: none;
    font-size: 1.5em;
}

#container > li >p.viewDescriptionContentDisplayed,
#authorOneContainer > li > p.viewDescriptionContentDisplayed,
#authorTwoContainer > li > p.viewDescriptionContentDisplayed,
#authorThreeContainer > li > p.viewDescriptionContentDisplayed,
#authorFourContainer > li > p.viewDescriptionContentDisplayed,
#container > li >p.viewDescriptionContentDisplayedUser,
#authorOneContainer > li > p.viewDescriptionContentDisplayedUser,
#authorTwoContainer > li > p.viewDescriptionContentDisplayedUser,
#authorThreeContainer > li > p.viewDescriptionContentDisplayedUser,
#authorFourContainer > li > p.viewDescriptionContentDisplayedUser {
    display: block;
}

#container > li > button,
#authorOneContainer > li > button,
#authorTwoContainer > li > button,
#authorThreeContainer > li > button,
#authorFourContainer > li > button {
    display: block;
    background: none;
    cursor: pointer;
    border: none;
    font-weight: 600;
    margin: 1em auto;
}

#container > li > button.previewButton,
#authorOneContainer > li > button.previewButton,
#authorTwoContainer > li > button.previewButton,
#authorThreeContainer > li > button.previewButton,
#authorFourContainer > li > button.previewButton {
    color: white;
    text-shadow: 0 0 0.1em black;
    font-size: 2em;
}


/*previewer popup*/

.previewerContainer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

.previewerContainer > #viewerCanvas {
    flex-basis: 80%;
}

.hidden {
    display: none;
}


/*previewer*/

#slides {
    position: relative;
    height: 75vh;
    list-style-type: none;
    text-align: left;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16em 1em 0 1em;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size: cover;
}

.showing {
    opacity: 1;
}

.controls {
    display: none;
}

.slide {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slide:nth-of-type(1) {
    background-image: url("https://images.unsplash.com/photo-1447023029226-ef8f6b52e3ea?dpr=1.5&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=");
}

.slide:nth-of-type(2) {
    background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?dpr=1.5&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=");
}

.slide:nth-of-type(3) {
    background-image: url("https://images.unsplash.com/photo-1474366521946-c3d4b507abf2?dpr=1.5&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=")
}

.slide h1,
.slide p,
.slide button {
    color: white;
    text-shadow: 0 0 0.1em black;
    font-weight: 800;
}

<<<<<<< HEAD
.slide button a {
    color: white;
    display: block;
}

=======
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
.slide h1 {
    font-size: 3.4em;
}

.slide p {
    font-size: 2.4em;
}

.slide button {
<<<<<<< HEAD
    font-size: 2em;
    color: black;
    background-color: #c55c58;
    font-weight: 800;
    width: 70%;
    margin-top: 1em;
=======
    font-size: 2.4em;
    color: black;
    background-color:  #c55c58;
    font-weight: 800;
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed
    color: white;
}

#next,
#previous,
#pause {
    flex: 1;
    background: rgba(50, 50, 50, 0.6);
    border: none;
    height: 2em;
    cursor: pointer;
    color: rgb(170, 170, 170);
    transition: 0.6s;
    font-size: 2em;
}

#next:hover,
#previous:hover,
#pause:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.controls:hover,
.controls:focus {
    background: #eee;
    color: #333;
}

.slidesContainer {
    position: relative;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}
<<<<<<< HEAD
=======
#footer {
    margin-top: 5em 0 0 0;
    padding: 0;
    text-align: center;
    background-color: rgb(50, 50, 50);
}

#footer * {
    opacity: 0.9;
}

#footer #subscribe {
    width: 100%;
    background-color: white;
    color: black;
    width: 90%;
    align-self: center;
    font-size: 1.8em;
    cursor: pointer;
}

#footer #subscribe:hover {
    opacity: 0.5;
}
#footer h1 {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 1px black;
}

#footer nav ul {
    display: flex;
    flex-direction: column;
}

#footer nav ul li {
    flex: 1;
}

#footer nav ul li iframe {
    margin: 2%;
    height: 25em;
    width: 80%;
    opacity: 0.9;
}

.adminLogin {
    display: flex;
    flex-direction: column;
}

.adminLogin > * {
    margin: 1em;    
}



/*Menu MUST CONTAIN */

.sidenavButton {
    top: 0.364em;
    left: 0.6em;
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    width: 5em;
}

.sidenavButton:focus {
    outline: none;
}


/*Sidenav*/

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    transition: 1.5s;
    width: 100%;
    height: 0;
    z-index: 10;
    overflow-x: hidden;
    background-color: rgba(50, 50, 50, 1);
}

.sidenavOpen {
    height: 100%;
}

.sidenav > ul > li {
    margin-top: 2em;
    flex-basis: 80%;
    text-align: center;
    font-size: 2.4em;
    font-weight: 800;
    padding: 1.5em;
}

.sidenav > ul > li > a {
    display: block;
    color: white;
    transition: 0.3s;
    height: 3em;
    line-height: 3em;
}

.sidenav > ul > li > a:hover {
    color: rgb(100, 100, 100);
}
>>>>>>> 2f0bf454cfc7de5a1515433af10741024455f1ed


/* Menu END OF MUST CONTAIN */

@media (min-width: 690px) and (max-width: 900px) {
    header h1 {
        font-size: 3.4em;
    }
    #footer nav ul {
        flex-direction: row;
    }
    .slide {
        padding: 22em 2em 0 2em;
    }
}

@media (min-width: 901px) {
    header h1 {
        font-size: 3.4em;
    }
    #footer nav ul {
        flex-direction: row;
    }
    .slide {
        padding: 22em 2em 0 2em;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}